
.namecontainer h1 {
text-wrap: wrap;
    font-size: 24px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid green; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.wrapper {
  opacity:0;
  left: -100%;
  border-radius: 10px;
  animation: smooth-appear 7s ease forwards;
}

@keyframes smooth-appear {
  to{
    left: 20px;
    opacity:1;
  }
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: green }
}