
.imgcontainer {
    display: flex;
    justify-content: center;
    width: 650px;
    height: 450px;
    gap: 15px;
    margin: 25px auto;
}
.imgcontainer>img {
  transition: transform .5s ease;
}
.imgcontainer>img:hover {
        transform: scale(1.5);
        cursor: pointer;
}
