.column {
  display: flex;
  max-width: 350px;
  justify-content: center;
  gap: 30px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    display: block;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
       display: block;
  }
}
img:hover {
  background-image: url('/public/dzwiek4.jpg');
}